<div class="container">
  <h1><%= @list.name %></h1>

  <div class="row">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6 col-lg-4 ">
        <div class="card-movie">
          <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img" %>
          <div class="card-movie-info p-3">
            <div>
              <h4><%= movie.title %> <span><%= movie.rating %></span></h4>
              <p><%= movie.overview %></p>
            </div>
            <div>
              <p class="card-movie-comment"><i class="fa-solid fa-quote-left"></i>  <%= bookmark.comment %>"</p>
              <p><%= link_to "Delete",  delete_path(bookmark), turbo_method: :delete, %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add a movie",  new_list_bookmark_path(@list)%>
</div>
