<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="navbar">
    <div class="container d-flex justify-content-between">
      <h4>Movie Logo</h4>
      <div class="navbar-buttons d-flex">
        <p class="ms-3">My Lists</p>
        <p class="ms-3">New List</p>
      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
